<form method="GET" action="/jobs/board" class="filter-form">
  <details class="group md:border-x border-t border-slate-200">
    <summary class="list-none inline-flex items-center w-full px-4 py-2 font-mono text-sm uppercase tracking-wider hover:cursor-pointer">
      <div class="flex justify-between w-full">
        <span class="flex gap-2">Filters{{#if filterCount}} ({{filterCount}}){{/if}} 
          <svg class="w-4 h-4 transition-transform duration-200 group-open:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
      </span>      
      <a href="/jobs/board" class="inline-flex items-center font-mono text-sm uppercase tracking-wider text-blue-500/80">Reset</a></div>
    </summary>
    <div class="flex flex-col gap-2 pt-4 px-4 pb-4">
      <p class="flex items-center font-mono tracking-wide gap-4 uppercase mb-4 text-sm">Category</p>
      <div class="flex flex-wrap gap-2">
        {{#each categories}}
          <label class="cursor-pointer">
            <input type="checkbox" name="category" value="{{this}}" class="sr-only peer" {{#if (contains activeCategory this)}}checked{{/if}}>
            <span class="font-mono uppercase text-sm border border-[#CBCCCE] hover:border-[#0D0D0D]  px-2 py-1.5 peer-checked:bg-[#0D0D0D] peer-checked:text-white peer-checked:border-[#0D0D0D] tracking-wide">{{this}}</span>
          </label>
        {{/each}}
      </div>
    </div>
    <div class="flex flex-col gap-2 px-4 pb-4">
      <p class="flex items-center gap-4 font-mono tracking-wide uppercase my-4 text-sm">Province</p>
      <div class="flex flex-wrap gap-x-2 gap-y-4">
        {{#each provinces}}
          <label class="cursor-pointer">
            <input type="checkbox" name="province" value="{{this}}" class="sr-only peer" {{#if (contains activeProvince this)}}checked{{/if}}>
            <span class="font-mono uppercase text-sm border border-[#CBCCCE] hover:border-[#0D0D0D]  px-2 py-1.5 peer-checked:bg-[#0D0D0D] peer-checked:text-white peer-checked:border-[#0D0D0D] tracking-wide">{{this}}</span>
          </label>
        {{/each}}
      </div>
    </div>
    <div class="flex justify-end items-center mt-4 pb-4 px-4">
      <button class="items-center border px-3 py-2 font-mono text-sm uppercase tracking-wider">Apply</button>
    </div>
  </details>
</form>
