<div class="pb-8 border-b">

  <div class="p-4 lg:px-0 py-8">

    {{#if (eq tier "pinned")}}

      <p
        class="mb-4 flex items-center gap-4 tracking-wide font-mono uppercase px-4 py-2 text-sm bg-blue-200 text-blue-500 border border-blue-500"
      >Pinned Post</p>

    {{/if}}
    <div>
      <h1
        class="mb-2 text-[34px] leading-[1.2] font-[700] lg:text-[38px]"
      >{{heading}}</h1>
      <p class="text-[20px]">{{subheading}}</p>
    </div>
  </div>

  <div>
    <div>

      <div
        class="relative p-4 border bg-slate-50 border-slate-200 mx-4 lg:mx-0"
      >

        <div class="md:flex">
          <div class="md:flex-1 mb-2 md:mb-0">
            <div
              class="flex flex-col gap-2 font-mono uppercase text-sm tracking-wide"
            >
              <span><i
                  class="ph ph-read-cv-logo mr-2"
                ></i>{{specialization}}</span>
              <span><i class="ph ph-calendar-dot mr-2"></i>{{startDate}}</span>
              <span><i class="ph ph-map-pin-area mr-2"></i>{{province}},
                {{city}}</span>
              <span><i
                  class="ph ph-hourglass-high mr-2"
                ></i>{{contractType}}</span>
            </div>
          </div>

          <div class="md:flex-1">
            <div
              class="flex flex-col gap-2 font-mono uppercase text-sm tracking-wide"
            >
              <span><i class="ph ph-translate mr-2"></i>Korean:
                {{koreanProficiency}}</span>
              <span><i class="ph ph-translate mr-2"></i>English:
                {{englishProficiency}}</span>
              {{#if otherLanguages}}
                <span><i class="ph ph-translate mr-2"></i>Other:
                  {{otherLanguages}}</span>
              {{/if}}
              <span><i class="ph ph-file-text mr-2"></i>Visa:
                {{visaSponsorship}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="z-30 sticky top-[52px] hidden lg:block border border-red-500">
      {{#if isRelay}}
        <a
          href="/jobs/{{slug}}/contact"
          class="flex w-full items-center justify-center tracking-wider py-2 px-3 bg-red-500/80 text-white text-sm font-mono uppercase"
        >Contact poster</a>
      {{else}}
        <a
          href="{{contactUrl}}"
          class="flex w-full items-center justify-center tracking-wider py-2 px-3 bg-red-500/80 text-white text-sm font-mono uppercase"
        >Apply here</a>
      {{/if}}
    </div>

    <div class="my-8">
      <p
        style="white-space: pre-line;"
        class="leading-[1.7] wrap-break-word px-4 lg:px-0 text-[16px] tracking-[0px]"
      >{{fullDescription}}</p>
    </div>
  </div>

  <div class="flex py-2">
    <a
      href="/"
      class="font-mono uppercase tracking-wide text-sm text-red-500 border border-red-500 px-3 py-1 rounded-full"
    >Report</a>
  </div>
</div>

<div class="fixed right-0 bottom-0 z-40 lg:hidden">
  {{#if isRelay}}
    <a
      href="/jobs/{{slug}}/contact"
      class="inline-flex items-center justify-center tracking-wider py-3 px-4 bg-red-500/80 text-white text-sm font-mono uppercase shadow-lg"
    >Contact poster</a>
  {{else}}
    <a
      href="{{contactUrl}}"
      class="inline-flex items-center justify-center tracking-wider py-3 px-4 bg-red-500/80 text-white text-sm font-mono uppercase shadow-lg"
    >Apply here</a>
  {{/if}}
</div>