<div class="border-b border-slate-200">
  <div class="sticky top-[37px] z-30 bg-amber-200/90">
    <a
      href="/jobs/board"
      class="flex w-full items-center justify-center px-3 py-2 text-sm font-mono uppercase tracking-wider"
    >
      Back to listings
    </a>
  </div>

  <div class="border-t border-x border-slate-200 lg:hidden">
    <div class="p-4">
      <h1 class="mb-4 text-3xl font-bold">{{heading}}</h1>
      <p class="text-2xl">{{subheading}}</p>
    </div>
  </div>

  <div class="hidden border-t border-x border-slate-200 lg:block">
    <div class="p-8">
      <h1 class="mb-2 text-4xl leading-[1.2] font-bold">{{heading}}</h1>
      <p class="text-2xl">{{subheading}}</p>
    </div>
  </div>

  <div class="lg:flex lg:items-start">
    <div class="mb-4 lg:mb-0 lg:w-1/3">

      <div class="hidden lg:block">
        {{#if isRelay}}
          <a
            href="/jobs/{{slug}}/contact"
            class="flex w-full items-center justify-center tracking-wider py-2 px-3 bg-red-500/80 text-white text-sm font-mono uppercase"
          >Contact poster</a>
        {{else}}
          <a
            href="{{contactUrl}}"
            class="flex w-full items-center justify-center tracking-wider py-2 px-3 bg-red-500/80 text-white font-mono uppercase"
          >Apply here</a>
        {{/if}}
      </div>
      <div class="relative p-4 sborder-y border-slate-200">

        <div class="md:flex lg:flex-col lg:gap-4">
          <div class="md:flex-1 mb-4 md:mb-0">
            <div
              class="flex flex-col gap-4 font-mono uppercase text-sm tracking-wide"
            >
              <span><i
                  class="ph ph-read-cv-logo mr-2"
                ></i>{{specialization}}</span>
              <span><i class="ph ph-calendar-dot mr-2"></i>{{startDate}}</span>
              <span><i class="ph ph-map-pin-area mr-2"></i>{{province}},
                {{city}}</span>
              <span><i
                  class="ph ph-hourglass-high mr-2"
                ></i>{{contractType}}</span>
            </div>
          </div>

          <div class="md:flex-1">
            <div
              class="flex flex-col gap-4 font-mono uppercase text-sm tracking-wide"
            >
              <span><i class="ph ph-translate mr-2"></i>Korean:
                {{koreanProficiency}}</span>
              <span><i class="ph ph-translate mr-2"></i>English:
                {{englishProficiency}}</span>
              {{#if otherLanguages}}
                <span><i class="ph ph-translate mr-2"></i>Other:
                  {{otherLanguages}}</span>
              {{/if}}
              <span><i class="ph ph-file-text mr-2"></i>Visa:
                {{visaSponsorship}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:w-2/3 lg:border-l lg:border-slate-200">
      <p
        style="white-space: pre-line;"
        class="p-4 leading-[1.6] wrap-break-word pr-10 lg:border-t lg:border-slate-200"
      >{{fullDescription}}</p>
    </div>
  </div>

  <div class="flex py-2">
    <a href="/" class="text-red-500 underline px-4 text-sm">Report</a>
  </div>
</div>

<div class="fixed right-0 bottom-0 z-40 lg:hidden">
  {{#if isRelay}}
    <a
      href="/jobs/{{slug}}/contact"
      class="inline-flex items-center justify-center tracking-wider py-3 px-4 bg-red-500/80 text-white text-sm font-mono uppercase shadow-lg"
    >Contact poster</a>
  {{else}}
    <a
      href="{{contactUrl}}"
      class="inline-flex items-center justify-center tracking-wider py-3 px-4 bg-red-500/80 text-white text-sm font-mono uppercase shadow-lg"
    >Apply here</a>
  {{/if}}
</div>